ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: left;
  }
  
  li input {
    display: block;
    color: rgb(253, 9, 9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li input:hover {
    background-color: rgb(255, 250, 250);
  }